/**
Main stylesheet for TouchPro by www.SooperThemes.com
Author: Jurriaan Roelofs

TABLE OF CONTENTS:
0. Variables and Mixins
1. Typography
2. Layout styling
3. Styling per region
4. Form styling
5. Drupal Elements
6. Drupal Modules
7. Block Skins

*/
/**
 * [ 1 ] TYPOGRAPHY
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\0000324}}
body {
  font: 13px/1.3em arial, verdana, "myriad pro", myriad, sans;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\0000328}}
.site-name {
  font-size: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\0000332}}
h1 {
  font-size: 27px;
  line-height: 35px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\0000337}}
h2 {
  font-size: 27px;
  line-height: 35px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\0000347}}
h3,
nav a,
legend,
.mission,
.slogan,
.views-field-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.3em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\0000353}}
h4 {
  font-size: 13px;
  font-weight: bold;
  line-height: 1.3em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\0000359}}
h5 {
  font-weight: 13px;
  text-transform: uppercase;
  line-height: 1.3em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\0000365}}
h6 {
  font-weight: 13px;
  line-height: 1.3em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\0000370}}
.content ul {
  margin: 0 0 0 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\0000373}}
.content ol {
  margin: 0 0 0 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\0000381}}
.content p,
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6,
.content code, .content pre,
.content ul, .content ol {
  margin-bottom: 10px;
}

/**
 * [ 2 ] LAYOUT STYLING
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\0000390}}
body {
  background: #ebebeb;
  color: #454545;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\0000393}}
body a {
  color: #004d7d;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\0000397}}
.masthead,
.region-footer {
  background-color: #1e1e1e;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #262626), color-stop(100%, #151515));
  background-image: -webkit-linear-gradient(#262626, #151515);
  background-image: -moz-linear-gradient(#262626, #151515);
  background-image: -o-linear-gradient(#262626, #151515);
  background-image: -ms-linear-gradient(#262626, #151515);
  background-image: linear-gradient(#262626, #151515);
  -pie-background: linear-gradient(#262626, #151515);
  -moz-box-shadow: rgba(255, 255, 255, 0.3) 0 0 0 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 0 0 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.3) 0 0 0 1px inset;
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 0 1px inset;
  border: 1px solid #000;
  color: #ebebeb;
  text-shadow: black 1px 1px 1px;
  filter: dropshadow(color=#333333, offX=1, offY=2);
  min-width: 1px;
  margin-right: -2px;
  margin-left: -2px;
  position: relative;
  /* prevent z-index conflicts with background kit */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/_touchpro-base\.scss}line{font-family:\0000326}}
.masthead a,
.region-footer a {
  color: #ebebeb;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003102}}
.masthead a,
.region-footer a {
  text-decoration: none;
}

/**
 * [ 3 ] STYLING PER REGION
 */
/**
 * Header and navigation
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003113}}
.masthead {
  z-index: 20;
  padding-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003116}}
.masthead .logo-container {
  float: left;
  padding: 12px 20px 15px 20px;
  background-color: #004d7d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #084d78), color-stop(100%, #012941));
  background-image: -webkit-linear-gradient(#084d78, #012941);
  background-image: -moz-linear-gradient(#084d78, #012941);
  background-image: -o-linear-gradient(#084d78, #012941);
  background-image: -ms-linear-gradient(#084d78, #012941);
  background-image: linear-gradient(#084d78, #012941);
  -pie-background: linear-gradient(#084d78, #012941);
  color: #ebebeb;
  text-shadow: black 1px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px inset;
  box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px inset;
  border: 1px solid #000;
  margin: 0 20px 0 10px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003124}}
.masthead .logo-container .grid-inner {
  padding: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003128}}
.masthead ul {
  padding-top: 2em;
  float: right;
  z-index: 20;
}
@media screen and (max-width:480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003128}}
  .masthead ul {
    clear: both;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003135}}
.masthead ul li {
  float: left;
  z-index: 20;
  display: block;
  margin: 0 0 20px 20px;
  line-height: 1em;
  position: relative;
}
@media screen and (max-width:480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003135}}
  .masthead ul li {
    width: 108px;
    margin-left: 0;
    margin-right: 20px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003148}}
.masthead ul li a {
  position: relative;
  padding: 12px 11px;
  background-color: #323232;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3f3f3f), color-stop(100%, #242424));
  background-image: -webkit-linear-gradient(#3f3f3f, #242424);
  background-image: -moz-linear-gradient(#3f3f3f, #242424);
  background-image: -o-linear-gradient(#3f3f3f, #242424);
  background-image: -ms-linear-gradient(#3f3f3f, #242424);
  background-image: linear-gradient(#3f3f3f, #242424);
  -pie-background: linear-gradient(#3f3f3f, #242424);
  -moz-box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px inset;
  box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px inset;
  border: 1px solid #000;
  color: #ebebeb;
  text-shadow: black 1px 1px 1px;
  filter: dropshadow(color=#333333, offX=1, offY=2);
  min-width: 1px;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/_touchpro-base\.scss}line{font-family:\0000339}}
.masthead ul li a a {
  color: #ebebeb;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003154}}
.masthead ul li a:hover, .masthead ul li a:focus, .masthead ul li a.active {
  background-color: #004d7d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #084d78), color-stop(100%, #012941));
  background-image: -webkit-linear-gradient(#084d78, #012941);
  background-image: -moz-linear-gradient(#084d78, #012941);
  background-image: -o-linear-gradient(#084d78, #012941);
  background-image: -ms-linear-gradient(#084d78, #012941);
  background-image: linear-gradient(#084d78, #012941);
  -pie-background: linear-gradient(#084d78, #012941);
  color: #ebebeb;
  text-shadow: black 1px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px inset;
  box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px inset;
  border: 1px solid #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003159}}
.masthead ul li ul {
  position: absolute;
  left: -99999em;
  background-color: #323232;
  z-index: 21;
  top: auto;
  padding: 0;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003167}}
.masthead ul li ul li {
  margin: 0;
  z-index: 21;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003170}}
.masthead ul li ul li a {
  z-index: 21;
  border-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003173}}
.masthead ul li ul li a:hover, .masthead ul li ul li a:focus, .masthead ul li ul li a.active {
  border-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003179}}
.masthead ul li:hover ul, .masthead ul li:focus ul {
  left: auto;
}

/**
 * Main
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003192}}
#page {
  margin-top: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003199}}
#page h2.block-title,
#page h1.node-title,
h1.page-title,
.comment h3 {
  background-color: #323232;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3f3f3f), color-stop(100%, #242424));
  background-image: -webkit-linear-gradient(#3f3f3f, #242424);
  background-image: -moz-linear-gradient(#3f3f3f, #242424);
  background-image: -o-linear-gradient(#3f3f3f, #242424);
  background-image: -ms-linear-gradient(#3f3f3f, #242424);
  background-image: linear-gradient(#3f3f3f, #242424);
  -pie-background: linear-gradient(#3f3f3f, #242424);
  -moz-box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px inset;
  box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px inset;
  border: 1px solid #000;
  color: #ebebeb;
  text-shadow: black 1px 1px 1px;
  filter: dropshadow(color=#333333, offX=1, offY=2);
  min-width: 1px;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/_touchpro-base\.scss}line{font-family:\0000339}}
#page h2.block-title a,
#page h1.node-title a,
h1.page-title a,
.comment h3 a {
  color: #ebebeb;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003202}}
#page h2.block-title a,
#page h1.node-title a,
h1.page-title a,
.comment h3 a {
  text-decoration: none;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003211}}
#page h2.block-title,
#page h1.node-title a,
h1.page-title {
  padding: 11px 18px 12px 18px;
  min-height: 37px;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003218}}
#page h1.node-title a {
  padding: 11px 75px 12px 18px;
  min-height: 37px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003223}}
ul.primary {
  margin: 0 20px 0 10px;
  border-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003226}}
ul.primary li a {
  border-color: #444 #444 transparent #444;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003232}}
.post-icon, .content-column .node header .post-icon, .region-featured .block .grid-inner header .post-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background-color: #004d7d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #084d78), color-stop(100%, #012941));
  background-image: -webkit-linear-gradient(#084d78, #012941);
  background-image: -moz-linear-gradient(#084d78, #012941);
  background-image: -o-linear-gradient(#084d78, #012941);
  background-image: -ms-linear-gradient(#084d78, #012941);
  background-image: linear-gradient(#084d78, #012941);
  -pie-background: linear-gradient(#084d78, #012941);
  color: #ebebeb;
  text-shadow: black 1px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px inset;
  box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px inset;
  border: 1px solid #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003242}}
.content-column .node {
  margin-bottom: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003244}}
.content-column .node header {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003248}}
.content-column .node header .post-icon a, .content-column .node header .post-icon a, .content-column .node .region-featured .block .grid-inner header .post-icon a, .region-featured .block .grid-inner .content-column .node header .post-icon a {
  display: block;
  background: transparent url("../images/post-icon.png") no-repeat center center;
  width: 100%;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003256}}
.content-column .node header:hover .post-icon a, .content-column .node header:hover .post-icon a, .content-column .node .region-featured .block .grid-inner header:hover .post-icon a, .region-featured .block .grid-inner .content-column .node header:hover .post-icon a, .content-column .node header:focus .post-icon a, .content-column .node header:focus .post-icon a, .content-column .node .region-featured .block .grid-inner header:focus .post-icon a, .region-featured .block .grid-inner .content-column .node header:focus .post-icon a {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003260}}
.content-column .node .content {
  background-color: #f0f0f0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #f6f6f6));
  background-image: -webkit-linear-gradient(#eeeeee, #f6f6f6);
  background-image: -moz-linear-gradient(#eeeeee, #f6f6f6);
  background-image: -o-linear-gradient(#eeeeee, #f6f6f6);
  background-image: -ms-linear-gradient(#eeeeee, #f6f6f6);
  background-image: linear-gradient(#eeeeee, #f6f6f6);
  border: 1px solid #fff;
  outline: 1px solid #d1d1d1;
  padding: 19px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003265}}
.content-column .node .content .user-picture {
  float: right;
  margin: 0 0 4px 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003269}}
.content-column .node .content .author {
  color: #666;
  margin-bottom: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003274}}
.content-column .node .link-wrapper {
  border: 1px solid #fff;
  background-color: #f0f0f0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #f6f6f6));
  background-image: -webkit-linear-gradient(#eeeeee, #f6f6f6);
  background-image: -moz-linear-gradient(#eeeeee, #f6f6f6);
  background-image: -o-linear-gradient(#eeeeee, #f6f6f6);
  background-image: -ms-linear-gradient(#eeeeee, #f6f6f6);
  background-image: linear-gradient(#eeeeee, #f6f6f6);
  outline: 1px solid #d1d1d1;
  color: #666;
  margin-top: 1px;
  padding: 10px 19px;
  overflow: hidden;
  /* tuck in that outline */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003282}}
.content-column .node .link-wrapper ul, .content-column .node .link-wrapper li, .content-column .node .link-wrapper div {
  margin: 0;
  padding: 0;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003287}}
.content-column .node .link-wrapper a {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003289}}
.content-column .node .link-wrapper a:hover, .content-column .node .link-wrapper a:focus {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003291}}
.content-column .node .link-wrapper ul.links {
  width: 200px;
  margin-right: 20px;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003295}}
.content-column .node .link-wrapper ul.links li {
  border-right: 1px solid #666;
  padding-right: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003299}}
.content-column .node .link-wrapper ul.links li.last, .content-column .node .link-wrapper ul.links li:last-child {
  border: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003303}}
.content-column .node .link-wrapper .field-type-taxonomy-term-reference .field-item {
  padding-right: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003305}}
.content-column .node .link-wrapper .field-type-taxonomy-term-reference .field-item:after {
  content: ',';
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003308}}
.content-column .node .link-wrapper .field-type-taxonomy-term-reference .field-item:last-child:after {
  content: '';
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003312}}
.content-column .node .link-wrapper .field-type-taxonomy-term-reference .field-label {
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003318}}
.content-column .node.node-imagefield .content {
  padding-left: 240px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003320}}
.content-column .node.node-imagefield .content .field-type-image {
  margin-left: -220px;
  float: left;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003324}}
.content-column .node.node-imagefield .content .field-type-image img {
  border: 1px solid #d1d1d1;
}
@media screen and (max-width:480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003332}}
  .content-column .node.node-imagefield .content {
    padding-left: 20px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003334}}
  .content-column .node.node-imagefield .content .field-type-image {
    margin-left: 0;
    float: none;
    width: 100%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003342}}
.content-column .node #comments {
  font-size: 92%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003344}}
.content-column .node #comments .comments-header {
  margin: 1em 0 0.25em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003347}}
.content-column .node #comments .comment {
  background-color: #f0f0f0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #f6f6f6));
  background-image: -webkit-linear-gradient(#eeeeee, #f6f6f6);
  background-image: -moz-linear-gradient(#eeeeee, #f6f6f6);
  background-image: -o-linear-gradient(#eeeeee, #f6f6f6);
  background-image: -ms-linear-gradient(#eeeeee, #f6f6f6);
  background-image: linear-gradient(#eeeeee, #f6f6f6);
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003350}}
.content-column .node #comments .comment h3 {
  font-size: 16px;
  padding: 7px 19px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003354}}
.content-column .node #comments .comment .author {
  margin-bottom: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003357}}
.content-column .node #comments .comment .content {
  padding-left: 19px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003366}}
body.page-node .content-column .node .content,
body.page-contact .content-column .block .content {
  margin-top: -9px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003369}}
body.page-node .content-column .node #comments .content,
body.page-contact .content-column .block #comments .content {
  margin-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003374}}
body.front .content-column .block .content {
  margin-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003379}}
.content-column .node-sticky header .post-icon a, .content-column .node-sticky .node header .post-icon a, .content-column .node .node-sticky header .post-icon a, .content-column .node-sticky .region-featured .block .grid-inner header .post-icon a, .region-featured .block .grid-inner .content-column .node-sticky header .post-icon a {
  background-image: url("../images/post-starred.png");
}

/**
 * Sidebars, Featured, Content-top/bottom
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003391}}
.region-sidebar-first .block,
.region-sidebar-second .block,
.region-content-top .block,
.region-content-bottom .block,
.region-featured .block,
.region-preblocks .block,
.region-postblocks .block {
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003393}}
.region-sidebar-first .block .grid-inner,
.region-sidebar-second .block .grid-inner,
.region-content-top .block .grid-inner,
.region-content-bottom .block .grid-inner,
.region-featured .block .grid-inner,
.region-preblocks .block .grid-inner,
.region-postblocks .block .grid-inner {
  background-color: #f0f0f0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #f6f6f6));
  background-image: -webkit-linear-gradient(#eeeeee, #f6f6f6);
  background-image: -moz-linear-gradient(#eeeeee, #f6f6f6);
  background-image: -o-linear-gradient(#eeeeee, #f6f6f6);
  background-image: -ms-linear-gradient(#eeeeee, #f6f6f6);
  background-image: linear-gradient(#eeeeee, #f6f6f6);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003396}}
.region-sidebar-first .block .block-content,
.region-sidebar-second .block .block-content,
.region-content-top .block .block-content,
.region-content-bottom .block .block-content,
.region-featured .block .block-content,
.region-preblocks .block .block-content,
.region-postblocks .block .block-content {
  border: 1px solid #fff;
  outline: 1px solid #d1d1d1;
  padding: 19px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003410}}
nav.block ul
.region-sidebar-first nav.block ul,
.region-sidebar-second nav.block ul,
.region-content-top nav.block ul,
.region-content-bottom nav.block ul,
.region-featured nav.block ul,
.region-preblocks nav.block ul,
.region-postblocks nav.block ul {
  border: 1px solid #fff;
  outline: 1px solid #d1d1d1;
  padding: 19px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003417}}
.region-featured .block .grid-inner header {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003421}}
.region-featured .block .grid-inner header .post-icon span, .region-featured .block .grid-inner .content-column .node header .post-icon span, .content-column .node .region-featured .block .grid-inner header .post-icon span, .region-featured .block .grid-inner header .post-icon span {
  display: block;
  background: transparent url("../images/post-starred.png") no-repeat center center;
  width: 100%;
  height: 100%;
  text-indent: -999999px;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003431}}
.region-featured .block .grid-inner .block-content {
  padding: 0;
  position: relative;
  border-width: 0 1px 1px 1px;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003432}}
.region-featured .block .grid-inner .block-content .pager :active {
  /* Styling this miraculously cures all transitioning problems on my Iphone */
  font-weight: bold;
  /* It doesn't really matter what styling is used */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003439}}
.region-featured .block .grid-inner .block-content p, .region-featured .block .grid-inner .block-content ul, .region-featured .block .grid-inner .block-content ol, .region-featured .block .grid-inner .block-content li {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003443}}
.region-featured .block .grid-inner .block-content .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background: #000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
  border-top: 1px solid #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 15px;
  line-height: 1.2em;
  font-weight: bold;
  color: #fff;
}
@media screen and (max-width:480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003443}}
  .region-featured .block .grid-inner .block-content .caption {
    font-size: 12px;
    padding: 5px 0;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003462}}
.region-featured .block .grid-inner .block-content .caption a {
  color: #fff;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003464}}
.region-featured .block .grid-inner .block-content .wrap-cycle-pager {
  float: right;
  position: relative;
  left: -50%;
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003469}}
.region-featured .block .grid-inner .block-content .wrap-cycle-pager .cycle-pager {
  list-style: none;
  position: relative;
  left: 50%;
  padding-top: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003476}}
.region-featured .block .grid-inner .block-content .wrap-cycle-pager .cycle-pager li {
  float: left;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003479}}
.region-featured .block .grid-inner .block-content .wrap-cycle-pager .cycle-pager li a {
  text-decoration: none;
  width: 25px;
  height: 25px;
  margin: 6px 5px;
  float: left;
  text-align: center;
  white-space: nowrap;
  text-indent: -999999px;
  background: transparent url("../images/pager-inactive.png") no-repeat center center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003489}}
.region-featured .block .grid-inner .block-content .wrap-cycle-pager .cycle-pager li a.activeSlide {
  background-image: url("../images/pager-active.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003500}}
#page .block-search .grid-inner {
  border: 1px solid #d1d1d1;
  height: 58px;
  position: relative;
  outline: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003506}}
#page .block-search .form-actions {
  position: absolute;
  top: 0;
  right: 0;
  height: 58px;
  width: 58px;
  background-color: #004d7d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #084d78), color-stop(100%, #012941));
  background-image: -webkit-linear-gradient(#084d78, #012941);
  background-image: -moz-linear-gradient(#084d78, #012941);
  background-image: -o-linear-gradient(#084d78, #012941);
  background-image: -ms-linear-gradient(#084d78, #012941);
  background-image: linear-gradient(#084d78, #012941);
  -pie-background: linear-gradient(#084d78, #012941);
  color: #ebebeb;
  text-shadow: black 1px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px inset;
  box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px inset;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003513}}
#page .block-search .form-actions .form-submit {
  height: 58px;
  width: 58px;
  margin: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  border: none;
  text-indent: -999999px;
  *text-indent: 0;
  *font-size: 1px;
  *color: #333;
  overflow: hidden;
  -moz-box-shadow: rgba(255, 255, 255, 0.88) 0 0 0 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.88) 0 0 0 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.88) 0 0 0 1px inset;
  box-shadow: rgba(255, 255, 255, 0.88) 0 0 0 1px inset;
  background: transparent url("../images/search.png") no-repeat center center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003528}}
#page .block-search .form-type-textfield {
  margin-right: 78px;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003532}}
#page .block-search .form-text {
  width: 100%;
  font-size: 24px;
  height: 38px;
  padding: 20px 0 0 20px;
  background-color: #f0f0f0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #f6f6f6));
  background-image: -webkit-linear-gradient(#eeeeee, #f6f6f6);
  background-image: -moz-linear-gradient(#eeeeee, #f6f6f6);
  background-image: -o-linear-gradient(#eeeeee, #f6f6f6);
  background-image: -ms-linear-gradient(#eeeeee, #f6f6f6);
  background-image: linear-gradient(#eeeeee, #f6f6f6);
  color: #cbcbcb;
  border: none;
  -moz-box-shadow: white 0 0 0 1px inset;
  -webkit-box-shadow: white 0 0 0 1px inset;
  -o-box-shadow: white 0 0 0 1px inset;
  box-shadow: white 0 0 0 1px inset;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003542}}
#page .block-search .overlabel-apply {
  clip: auto;
  position: absolute;
  bottom: 4px;
  left: 20px;
  font-size: 24px;
  color: #cbcbcb;
  font-weight: normal;
}

/* Navigation blocks */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003555}}
#page nav.block {
  background-color: #f0f0f0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #f6f6f6));
  background-image: -webkit-linear-gradient(#eeeeee, #f6f6f6);
  background-image: -moz-linear-gradient(#eeeeee, #f6f6f6);
  background-image: -o-linear-gradient(#eeeeee, #f6f6f6);
  background-image: -ms-linear-gradient(#eeeeee, #f6f6f6);
  background-image: linear-gradient(#eeeeee, #f6f6f6);
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003558}}
#page nav.block ul {
  padding: 0;
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003561}}
#page nav.block ul li a {
  display: block;
  padding: 12px 40px 12px 20px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #d1d1d1;
  text-decoration: none;
  color: #454545;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003569}}
#page nav.block ul li a:hover {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003573}}
#page nav.block ul li.last a,
#page nav.block ul li.views-row-last a,
#page nav.block ul li:last-child a {
  border-bottom: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003579}}
#page nav.block li a:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  width: 21px;
  height: 21px;
  margin-top: -10px;
  background: url("../images/list-nav.png") no-repeat 96% center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003590}}
#page nav.block li a:hover:after {
  right: 23px;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

/**
 * Twitter Block
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003599}}
.tweets-pulled-listing ul {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #f6f6f6));
  background-image: -webkit-linear-gradient(#eeeeee, #f6f6f6);
  background-image: -moz-linear-gradient(#eeeeee, #f6f6f6);
  background-image: -o-linear-gradient(#eeeeee, #f6f6f6);
  background-image: -ms-linear-gradient(#eeeeee, #f6f6f6);
  background-image: linear-gradient(#eeeeee, #f6f6f6);
  border: 1px solid #fff;
  outline: 1px solid #d1d1d1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003605}}
.tweets-pulled-listing ul li {
  display: block;
  padding: 12px 40px 12px 20px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #d1d1d1;
  text-decoration: none;
  color: #454545;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003613}}
.tweets-pulled-listing ul li:last-child {
  border-bottom: none;
}

/**
 * Footer
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003623}}
.region-footer {
  padding: 10px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003628}}
.region-footer,
.region-footer a {
  font-size: 15px;
  font-weight: normal;
  text-shadow: black 1px 1px 1px;
  display: block;
  padding: 4px 0;
  color: #999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003635}}
.region-footer:hover, .region-footer:focus,
.region-footer a:hover,
.region-footer a:focus {
  color: #fff;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 700ms;
  -webkit-transition-duration: 700ms;
  -o-transition-duration: 700ms;
  transition-duration: 700ms;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003641}}
.region-footer h2.block-title {
  font-size: 15px;
  text-shadow: black 1px 1px 1px;
  color: #ddd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003647}}
.region-footer ul {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003652}}
.region-footer ul li {
  padding: 4px 0;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003658}}
.view-id-categories ul li {
  float: left;
  margin-right: 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003661}}
.view-id-categories ul li a {
  display: block;
  float: left;
  word-wrap: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003666}}
.view-id-categories ul li a:after {
  content: ',';
  color: #ddd;
}

/**
 * [ 4 ] FORM STYLING
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003676}}
h2.comment-form {
  margin: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003680}}
.content-column form {
  background-color: #f0f0f0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #f6f6f6));
  background-image: -webkit-linear-gradient(#eeeeee, #f6f6f6);
  background-image: -moz-linear-gradient(#eeeeee, #f6f6f6);
  background-image: -o-linear-gradient(#eeeeee, #f6f6f6);
  background-image: -ms-linear-gradient(#eeeeee, #f6f6f6);
  background-image: linear-gradient(#eeeeee, #f6f6f6);
  border: 1px solid #fff;
  outline: 1px solid #d1d1d1;
  padding: 19px;
}

/**
* [ 5 ] DRUPAL ELEMENTS
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003691}}
ul.tabs.primary {
  margin-bottom: -10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/touchpro\/styling\/scss\/style\.scss}line{font-family:\00003695}}
.tabs.secondary {
  clear: both;
  margin-top: 20px;
}
